@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 320;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 35px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 620px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #3a3a3a;
}

#hero-image {
    height: 620px;
    width: 130%;
    background: url('../images/pexels-markus-spiske-114296.jpg') no-repeat center center;
}

#cover-text {
    font-size: 140%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(118, 241, 107, 0.7);

    bottom: 30px;
    right: 180px;

    position: absolute;
}

/* football-association */

#football-association {
    height: 600 px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading p {
    text-align: center;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading p {
    text-align: center;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 290%;
}